<% provide(:title, 'All groups') %>
<h1>All groups</h1>

<ul class="groups">
  <% @groups.each do |group| %>
    <li>
      <%if group.image.attached?%>
        <%= link_to image_tag( group.image, height: 50), group %>
      <%else%>
        <%= link_to image_tag( "no_image.jpg", height: 50), group%>
      <%end%>
      <%= link_to group.name, group %>
      <%= link_to "delete", group, method: :delete, data: { confirm: "You sure?" } %>
    </li>
  <% end %>
</ul>