<% provide(:title, 'Edit the book') %>
<h1>Edit</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <%= render partial: 'form', locals: { book: @book, group: @group } %>
  </div>
</div>
